<div>
    <p class="simple-line">{{ _('cv_head_download') }}</p>
    <table id="cv-table">
        <tr>
            <td>{{ _('cv_head_standard') }}</td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_{{ lang }}.docx">Word</a>
            </td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_{{ lang }}.pdf">PDF</a>
            </td>
        <tr>
        <tr>
            <td>{{ _('cv_head_europass') }}</td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_ep_{{ lang }}.doc">Word</a>
            </td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_ep_{{ lang }}.pdf">PDF</a>
            </td>
        <tr>
    </table>
</div>
