<div>
    <p class="simple-line">{{ _('cv_head_download') }}</p>
    <table id="cv-table">
        <tr>
            <td>{{ _('cv_head_standard') }}</td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_{{ lang }}.docx">Word</a>
            </td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_{{ lang }}.pdf">PDF</a>
            </td>
        <tr>
        <tr>
            <td>{{ _('cv_head_europass') }}</td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_ep_{{ lang }}.doc">Word</a>
            </td>
            <td>
                <a href="/static/Igor_Sikacek_2018.04.16_cv_ep_{{ lang }}.pdf">PDF</a>
            </td>
        <tr>
    </table>
    <script type="text/javascript">
        var toggle = function(x) {
            var c = 'project-details';
            x.className = x.className === c ? c + '-shown' : c;
        };
        var fWrap = function (f, p) {
            return function() { f(p) };
        };
        window.addEventListener('load', function() { 
            var xs = document.getElementsByClassName('project-details');
            for (var i = 0, l = xs.length; i < l; i++) {
                var s = document.createElement('span');
                s.innerText = '+';
                s.className = 'tgl';
                s.addEventListener('click', fWrap(toggle, xs[i]));
                xs[i].parentElement.insertBefore(s, xs[i]);
            }
        });
    </script>
</div>
