{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/cv.css">
{% endblock %}
{% block content %}
{% include "_cv_head.html"  %}
<div id="cv-main">
    <p>10+ godina profesionalnog iskustva u razvoju</p>
    <div class="main-columns">
        <ul>
            <li>programiranje</li>
            <li>dizajn sustava</li>
            <li>analiza sustava</li>
            <li>analiza zahtijeva</li>
            <li>razvoj prototipa</li>
            <li>unit testiranje</li>
            <li>integracija</li>
            <li>integracijsko testiranje</li>
            <li>migracija sustava</li>
            <li>migracija podataka</li>
            <li>modeliranje podataka</li>
            <li>optimizacija baze podataka</li>
            <li>održavanje sustava</li>
            <li>operativna podrška</li>
            <li>obrnuti inženjering</li>
            <li>novi sustavi</li>
            <li>stari (legacy) sustavi</li>
            <li>veći IT projekti</li>
            <li>istovremeni projekti</li>
            <li>sve faze projekta</li>
            <li>direktna komunikacija s korisnicima</li>
            <li>pisanje dokumentacije</li>
            <li>korisnička podrška</li>
            <li>korisnička edukacija</li>
        </ul>
    </div>
    
    <p>Tehnička iskustva</p>
    <div class="main-columns">
        <ul>
            <li>frontend web</li>
            <li>backend web</li>
            <li>samostalni web servisi</li>
            <li>windows razvoj</li>
            <li>mobilne platforme (Android)</li>
            <li>relacijske baze</li>
        </ul>
    </div>
    <div class="main-columns">
        <ul>
            <li>java ◦ JSF ◦ Hibernate</li>
            <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
            <li>c# ◦ ASP.NET  ◦ Forms</li>
            <li>Smalltalk</li>
            <li>SQL</li>
            <li>Oracle ◦ PL/SQL</li>
            <li>JSON ◦ REST ◦ SOAP ◦ SOA</li>
            <li>XML ◦ XPATH ◦ XQUERY ◦ XSLT ◦ XML Schema</li>
            <li>regular expressions</li>
            <li>Emacs lisp</li>
            <li>SQL Server ◦ T-SQL</li>
            <li>c</li>
            <li>Python</li>
            <li>Qt</li>
            <li>mySQL</li>
            <li>SQLite</li>
            <li>SVN ◦ git</li>
            <li>Perl</li>
            <li>unix shell alati</li>
            <li>mnogi editori/IDE</li>
            <li>Asterisk PBX</li>
        </ul>
    </div>

    <div class="company">
        <div class="company-title">
            <span class="company-name">TIS - Objektni informacijski  sustavi d.o.o.<span>
            <span class="company-date">04.2007. –<span>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">RIS - SISBON</span>
                <span class="project-date">◦ 09.2017. -</span>
                <span class="project-customer">Nova KBM d.d.</span>
            </div>
            <div class="project-description">
                Register izvršb SOA – Sustav za upravljanje duga korisnika banke i blokada računa. Razvoj SISBON(razmjena podataka o stanju duga fizičkih osoba) modula.
            </div>
            <div class="project-details">
                <ul>
                    <li>analiza korisničkih zahtijeva</li>
                    <li>razvoj</li>
                    <li>integracija</li>
                    <li>migracija podataka</li>
                    <li>operativna podrška</li>
                    <li>održavanje u produkciji</li>
                </ul>
                <ul>
                    <li>Oracle ◦ PL/SQL</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">TRK – Transakcijski Računi Komitentov</span>
                <span class="project-date">◦ 01.2016 -</span>
                <span class="project-customer">Nova KBM d.d.</span>
            </div>
            <div class="project-description">
                Platni sustav za pravne osobe.
            </div>
            <div class="project-details">
                <ul>
                    <li>razvoj</li>
                    <li>održavanje u produkciji</li>
                    <li>operativna podrška</li>
                </ul>
                <ul>
                    <li>Cincom Smalltalk</li>
                    <li>Oracle ◦ PL/SQL</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">eSIG</span>
                <span class="project-date">◦ 08.2016. -</span>
                <span class="project-customer">Unicredit banka Slovenija d.d.</span>
            </div>
            <div class="project-description">
                Integracija SIGNificant potpisnih produkata s postojećim IT sustavom od banke. Posebni integracijski server s web i Android klijentima te integracija s Wacom potpisnom pločicom.
            </div>
            <div class="project-details">
                <ul>
                    <li>analiza korisničkih zahtijeva</li>
                    <li>razvoj</li>
                    <li>integracija</li>
                    <li>održavanje u produkciji</li>
                    <li>operativna podrška</li>
                    <li>korisnička podrška</li>
                </ul>
                <ul>
                    <li>c# ◦ ASP.NET Forms ◦ JSON ◦ Entity framework</li>
                    <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                    <li>IIS</li>
                    <li>SQL Server 2012</li>
                    <li>Android</li>
                    <li>SIGNificant Server Platform</li>
                    <li>Wacom potpisne pločice</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">Second Screen</span>
                <span class="project-date">◦ 12.2013. - 01.2014.</span>
                <span class="project-customer">emporia Telecom GmbH & Co. KG</span>
            </div>
            <div class="project-description">
                Mobilna aplikacija za pripomoć ljudima starije životne dobi - Android hybrid app.
            </div>
            <div class="project-details">
                <ul>
                    <li>frontend razvoj</li>
                </ul>
                <ul>
                    <li>HTML ◦ CSS ◦ js</li>
                    <li>Intel XDK</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">emporia4Care</span>
                <span class="project-date">◦ 08.2012. - 05.2013.</span>
                <span class="project-customer">emporia Telecom GmbH & Co. KG</span>
            </div>
            <div class="project-description">
                Web aplikacija za upravljanje dediciranih mHealth telefonskih računa (mobiteli za ljude starije životne dobi) putem SMS-a.
            </div>
            <div class="project-details">
                <ul>
                    <li>razvoj</li>
                </ul>
                <ul>
                    <li>java ◦ JSF</li>
                    <li>mySQL</li>
                    <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">M2M, Loyality</span>
                <span class="project-date">◦ 12.2010. - 04.2011</span>
                <span class="project-customer">Kapsch d.o.o.</span>
            </div>
            <div class="project-description">
                Razvoj internih web aplikacija za ispunu dokumenata i ispis istih.
            </div>
            <div class="project-details">
                <ul>
                    <li>razvoj</li>
                </ul>
                <ul>
                    <li>c# ◦ ASP.NET Forms ◦ JSON</li>
                    <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                    <li>Oracle ◦ PL/SQL</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">RIS - NODURS, Obvestila</span>
                <span class="project-date">◦ 05.2010. -</span>
                <span class="project-customer">Nova KBM d.d.</span>
            </div>
            <div class="project-description">
                Register izvršb SOA - Sustav za upravljanje duga korisnika banke i blokada računa. Razvoj NODURS(razmjena podataka o dugovanju za pravne osobe) i Obvestila(e-izvještaji) modula.
            </div>
            <div class="project-details">
                <ul>
                    <li>analiza korisničkih zahtijeva</li>
                    <li>razvoj</li>
                    <li>integracija</li>
                    <li>migracija podataka</li>
                    <li>pisanje dokumentacije</li>
                    <li>korisnička podrška i edukacija</li>
                    <li>operativna podrška</li>
                    <li>održavanje u produkciji</li>
                </ul>
                <ul>
                    <li>java ◦ JSF ◦ Hibernate ◦ SOAP</li>
                    <li>Oracle ◦ PL/SQL</li>
                    <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                    <li>Weblogic ◦ Glassfish</li>
                    <li>Jasper 6.2.2</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">Call Center</span>
                <span class="project-date">◦ 03.2009. - 04.2010.</span>
                <span class="project-customer">Media Imperium d.o.o.</span>
            </div>
            <div class="project-description">
                Posebno CRM rješenje s PBX integracijom (Asterisk) za servis usamljenih srca.
            </div>
            <div class="project-details">
                <ul>
                    <li>analiza korisničkih zahtijeva</li>
                    <li>dizajn arhitekture</li>
                    <li>razvoj</li>
                    <li>konfiguracija i integracija PBX sustava</li>
                    <li>integracijsko testiranje</li>
                    <li>korisnička podrška i edukacija</li>
                    <li>održavanje u produkciji</li>
                </ul>
                <ul>
                    <li>c# ◦ ASP.NET Forms</li>
                    <li>IIS</li>
                    <li>SQL Server ◦ T-SQL</li>
                    <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                    <li>Asterisk</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">FilePoint</span>
                <span class="project-date">◦ 07.2008. - 06.2009.</span>
                <span class="project-customer">Hrvatski Telekom d.d.</span>
            </div>
            <div class="project-description">
                Zamjena Sharepoint pohrane datoteka pomoću integracije Sharepoint i IBM FilePoint sustava.
            </div>
            <div class="project-details">
                <ul>
                    <li>razvoj</li>
                </ul>
                <ul>
                    <li>c# ◦ ASP.NET Forms</li>
                    <li>Sharepoint Server</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <div class="project-title">
                <span class="project-name">MetroCRM</span>
                <span class="project-date">◦ 04.2007. - 02.2009.</span>
                <span class="project-customer">Metronet telekomunikacije d.d.</span>
            </div>
            <div class="project-description">
                Instalacija multi-tenant CRM rješenja (Cincom Synchrony), i demo tenant preinake.
            </div>
            <div class="project-details">
                <ul>
                    <li>instalacija</li>
                    <li>administracija</li>
                    <li>PBX konfiguracija</li>
                    <li>razvoj dodataka</li>
                    <li>integracija</li>
                    <li>pisanje dokumentacije</li>
                    <li>korisnička podrška i edukacija</li>
                </ul>
                <ul>
                    <li>java ◦ JSP</li>
                    <li>HTML ◦ CSS ◦ js</li>
                    <li>Cisco CallManager 4.1</li>
                    <li>Asterisk 1.4.21</li>
                    <li>Apache Tomcat 6.0</li>
                    <li>SQL Server 2005</li>
                    <li>Cincom Synchrony 7.1</li>
                </ul>
            </div>
        </div>
    </div>
    <p>Certifikati</p>
    <div>
        <p class="simple-line">22.04.2011. - Microsoft - MCPD: Web Developer 4</p>
        <p class="simple-line">18.07.2008. - Microsoft - MCTS: SharePoint 2007, Application Development</p>
    </div>
    <p>Jezične vještine</p>
    <div>
        <p class="simple-line">Hrvatski - Izvrsno</p>
        <p class="simple-line">Engleski - Izvrsno</p>
        <p class="simple-line">Slovenski - Ispod prosjeka</p>
    </div>

    <p>Školovanje</p>
    <div>
        <p class="simple-line">1999. - 2002. - Elektrostrojarska obrtnička škola Elektromehaničar(SSS)</p>
    </div>
</div>
{% endblock %}