{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/cv.css">
{% endblock %}
{% block content %}
{% include "_cv_head.html"  %}
    <div id="cv-main">
        <p>10+ years of professional experience in development</p>
        <div class="main-columns">
            <ul class="anim-slide">
                <li>programming</li>
                <li>system design</li>
                <li>system analysis</li>
                <li>requirements analysis</li>
                <li>prototyping</li>
                <li>unit testing</li>
                <li>integration</li>
                <li>integration testing</li>
                <li>system migration</li>
                <li>data migration</li>
                <li>data modelling</li>
                <li>database optimization</li>
                <li>system maintenance</li>
                <li>operations support</li>
                <li>reverse engineering</li>
                <li>greenfield systems</li>
                <li>legacy systems</li>
                <li>larger IT projects</li>
                <li>simultaneous projects</li>
                <li>entire project lifecycle</li>
                <li>direct communication with users</li>
                <li>documentation writing</li>
                <li>user support</li>
                <li>user education</li>
            </ul>
        </div>
        <p>Technical experience</p>
        <div class="main-columns">
            <ul class="anim-slide">
                <li>frontend web</li>
                <li>backend web</li>
                <li>standalone web services</li>
                <li>standalone window</li>
                <li>mobile (Android)</li>
                <li>relational databases</li>
            </ul>
        </div>
        <div class="main-columns">
            <ul class="anim-slide">
                <li>java ◦ JSF ◦ Hibernate</li>
                <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                <li>c# ◦ ASP.NET  ◦ Forms</li>
                <li>Smalltalk</li>
                <li>SQL</li>
                <li>Oracle ◦ PL/SQL</li>
                <li>JSON ◦ REST ◦ SOAP ◦ SOA</li>
                <li>XML ◦ XPATH ◦ XQUERY ◦ XSLT ◦ XML Schema</li>
                <li>regular expressions</li>
                <li>Emacs lisp</li>
                <li>SQL Server ◦ T-SQL</li>
                <li>c</li>
                <li>Python</li>
                <li>Qt</li>
                <li>mySQL</li>
                <li>SQLite</li>
                <li>SVN ◦ git</li>
                <li>Perl</li>
                <li>unix shell tools</li>
                <li>many editors/IDE</li>
                <li>Asterisk PBX</li>
            </ul>
        </div>
        <div class="company">
            <div class="company-title">
                <span class="company-name">TIS - Objektni informacijski  sustavi d.o.o.<span>
                <span class="company-date">04.2007. –<span>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">RIS - SISBON</span>
                    <span class="project-date">◦ 09.2017. -</span>
                    <span class="project-customer">Nova KBM d.d.</span>
                </div>
                <div class="project-description">
                    Register izvršb SOA - System for managing bank client debt and account freezing. Development of SISBON (exchange of data on individuals indebtness) module.
                </div>
                <div class="project-details">
                    <ul>
                        <li>analysis of user requests</li>
                        <li>development</li>
                        <li>integration</li>
                        <li>data migration</li>
                        <li>operations support</li>
                        <li>maintenance in production</li>
                    </ul>
                    <ul>
                        <li>Oracle ◦ PL/SQL</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">TRK – Transakcijski Računi Komitentov</span>
                    <span class="project-date">◦ 01.2016 -</span>
                    <span class="project-customer">Nova KBM d.d.</span>
                </div>
                <div class="project-description">
                    Payment system for legal entities.
                </div>
                <div class="project-details">
                    <ul>
                        <li>development</li>
                        <li>maintenance in production</li>
                        <li>operations support</li>
                    </ul>
                    <ul>
                        <li>Cincom Smalltalk</li>
                        <li>Oracle ◦ PL/SQL</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">eSIG</span>
                    <span class="project-date">◦ 08.2016. -</span>
                    <span class="project-customer">Unicredit banka Slovenija d.d.</span>
                </div>
                <div class="project-description">
                    Integration of SIGNificant signing products with existing bank IT systems. Custom integration server with web and Android clients, and Wacom pen tablet integration
                </div>
                <div class="project-details">
                    <ul>
                        <li>analysis of user requests</li>
                        <li>development</li>
                        <li>integration</li>
                        <li>maintenance in production</li>
                        <li>operations support</li>
                        <li>user support</li>
                    </ul>
                    <ul>
                        <li>c# ◦ ASP.NET Forms ◦ JSON ◦ Entity framework</li>
                        <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                        <li>IIS</li>
                        <li>SQL Server 2012</li>
                        <li>Android</li>
                        <li>SIGNificant Server Platform</li>
                        <li>Wacom pen tablets</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">Second Screen</span>
                    <span class="project-date">◦ 12.2013. - 01.2014.</span>
                    <span class="project-customer">emporia Telecom GmbH & Co. KG</span>
                </div>
                <div class="project-description">
                    Mobile senior assistance app - Android hybrid app.
                </div>
                <div class="project-details">
                    <ul>
                        <li>frontend razvoj</li>
                    </ul>
                    <ul>
                        <li>HTML ◦ CSS ◦ js</li>
                        <li>Intel XDK</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">emporia4Care</span>
                    <span class="project-date">◦ 08.2012. - 05.2013.</span>
                    <span class="project-customer">emporia Telecom GmbH & Co. KG</span>
                </div>
                <div class="project-description">
                    Web application for management of dedicated mHealth phone accounts (senior phones) via SMS.
                </div>
                <div class="project-details">
                    <ul>
                        <li>development</li>
                    </ul>
                    <ul>
                        <li>java ◦ JSF</li>
                        <li>mySQL</li>
                        <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">M2M, Loyality</span>
                    <span class="project-date">◦ 12.2010. - 04.2011</span>
                    <span class="project-customer">Kapsch d.o.o.</span>
                </div>
                <div class="project-description">
                    Development of internal web applications for document filling and printing.
                </div>
                <div class="project-details">
                    <ul>
                        <li>development</li>
                    </ul>
                    <ul>
                        <li>c# ◦ ASP.NET Forms ◦ JSON</li>
                        <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                        <li>Oracle ◦ PL/SQL</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">RIS - NODURS, Obvestila</span>
                    <span class="project-date">◦ 05.2010. -</span>
                    <span class="project-customer">Nova KBM d.d.</span>
                </div>
                <div class="project-description">
                    Register izvršb SOA - System for managing bank client debt and account freezing. Development of NODURS (exchange of information on outstanding commitments) and Obvestila (e-reports) modules.
                </div>
                <div class="project-details">
                    <ul>
                        <li>analysis of user requests</li>
                        <li>development</li>
                        <li>integration</li>
                        <li>data migration</li>
                        <li>documentation</li>
                        <li>user support and education</li>
                        <li>operations support</li>
                        <li>maintenance in production</li>
                    </ul>
                    <ul>
                        <li>java ◦ JSF ◦ Hibernate ◦ SOAP</li>
                        <li>Oracle ◦ PL/SQL</li>
                        <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                        <li>Weblogic ◦ Glassfish</li>
                        <li>Jasper 6.2.2</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">Call Center</span>
                    <span class="project-date">◦ 03.2009. - 04.2010.</span>
                    <span class="project-customer">Media Imperium d.o.o.</span>
                </div>
                <div class="project-description">
                    Custom CRM solution with PBX integration (Asterisk) for lonely hearts telephone service.
                </div>
                <div class="project-details">
                    <ul>
                        <li>analysis of user requests</li>
                        <li>dizajn arhitekture</li>
                        <li>development</li>
                        <li>PBX system configuration integration</li>
                        <li>integration testing</li>
                        <li>user support and education</li>
                        <li>maintenance in production</li>
                    </ul>
                    <ul>
                        <li>c# ◦ ASP.NET Forms</li>
                        <li>IIS</li>
                        <li>SQL Server ◦ T-SQL</li>
                        <li>HTML ◦ CSS ◦ js ◦ AJAX</li>
                        <li>Asterisk</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">FilePoint</span>
                    <span class="project-date">◦ 07.2008. - 06.2009.</span>
                    <span class="project-customer">Hrvatski Telekom d.d.</span>
                </div>
                <div class="project-description">
                    Replacement of Sharepoint document storage by integrating Sharepoint with IBM FilePoint.
                </div>
                <div class="project-details">
                    <ul>
                        <li>development</li>
                    </ul>
                    <ul>
                        <li>c# ◦ ASP.NET Forms</li>
                        <li>Sharepoint Server</li>
                    </ul>
                </div>
            </div>
            <div class="project">
                <div class="project-title">
                    <span class="project-name">MetroCRM</span>
                    <span class="project-date">◦ 04.2007. - 02.2009.</span>
                    <span class="project-customer">Metronet telekomunikacije d.d.</span>
                </div>
                <div class="project-description">
                    Multi-tenant CRM solution (Cincom Synchrony) installations, with demo tenant customizations.
                </div>
                <div class="project-details">
                    <ul>
                        <li>installation</li>
                        <li>administration</li>
                        <li>PBX configuration</li>
                        <li>add-on development</li>
                        <li>integration</li>
                        <li>documentation</li>
                        <li>user support and education</li>
                    </ul>
                    <ul>
                        <li>java ◦ JSP</li>
                        <li>HTML ◦ CSS ◦ js</li>
                        <li>Cisco CallManager 4.1</li>
                        <li>Asterisk 1.4.21</li>
                        <li>Apache Tomcat 6.0</li>
                        <li>SQL Server 2005</li>
                        <li>Cincom Synchrony 7.1</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Certifications</p>
        <div>
            <p class="simple-line">22.04.2011. - Microsoft - MCPD: Web Developer 4</p>
            <p class="simple-line">18.07.2008. - Microsoft - MCTS: SharePoint 2007, Application Development</p>
        </div>
        <p>Languages</p>
        <div>
            <p class="simple-line">Croatian - Proficient</p>
            <p class="simple-line">English - Proficient</p>
            <p class="simple-line">Slovenian - Below average</p>
        </div>
        <p>Education</p>
        <div>
            <p class="simple-line">1999. - 2002. - Elektrostrojarska obrtnička škola Electromechanic (SSS)</p>
        </div>
    </div>
{% endblock %}