{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>{{ _('attributions_title') }}</h1>
    <p>{{ _('attributions_about') }}</p>
    <ul>
        <li>
            <a href="http://www.freepik.com" rel="noreferrer">{{ _('attributions_1') }} makyzz / Freepik</a>
            -
            <a href="https://www.freepik.com/free-vector/flat-icon-set-for-business_1063632.htm" rel="noreferrer">Flat icon set for business</a>
        </li>
        <li>
            <a href="http://www.freepik.com" rel="noreferrer">{{ _('attributions_1') }} Newelement / Freepik</a>
            -
            <a href="https://www.freepik.com/free-vector/web-design-banners-set_957753.htm" rel="noreferrer">Web design banners</a>
        </li>
        <li>
            <a href="http://www.freepik.com" rel="noreferrer">{{ _('attributions_1') }} Graphiqastock / Freepik</a>
            -
            <a href="https://www.freepik.com/free-vector/web-programming-background_1027144.htm" rel="noreferrer">Web programming background</a>
        </li>
        <li>
            <a href="http://www.freepik.com" rel="noreferrer">{{ _('attributions_1') }} macrovector / Freepik</a>
            -
            <a href="https://www.freepik.com/free-vector/data-analysis-icons_1530355.htm" rel="noreferrer">Data analysis icons</a>
        </li>
    </ul>
    <p>{{ _('attributions_404') }}</p>
    <ul>
        <li>
            <a href="https://www.vecteezy.com/members/zhaolifang" rel="noreferrer">zhaolifang</a>
            -
            <a href="https://www.vecteezy.com/vector-art/107196-server-rack-vectors" rel="noreferrer">Server Rack Vectors</a>
            -
            <a target="_blank" href="https://www.vecteezy.com" rel="noreferrer">{{ _('attributions_2') }} Vecteezy!</a>
        </li>
        <li>
            <a href="https://www.vecteezy.com/members/skaterjob" rel="noreferrer">skaterjob</a>
            -
            <a href="https://www.vecteezy.com/vector-art/126528-yakuza-vector-design" rel="noreferrer">Yakuza Vector Design</a>
            -
            {{ _('attributions_5') }} <a target="_blank" href="https://www.vecteezy.com" rel="noreferrer">Vecteezy.com</a>
        </li>
    </ul>
    <p>{{ _('attributions_500') }}</p>
    <ul>
        <li>
            <a href="https://www.vecteezy.com/members/zhaolifang" rel="noreferrer">zhaolifang</a>
            -
            <a href="https://www.vecteezy.com/vector-art/107196-server-rack-vectors" rel="noreferrer">Server Rack Vectors</a>
            -
            <a target="_blank" href="https://www.vecteezy.com" rel="noreferrer">{{ _('attributions_2') }} Vecteezy!</a>
        </li>
        <li>
            <a href="https://www.vecteezy.com/members/yoosillyone" rel="noreferrer">yoosillyone</a>
            -
            <a href="https://www.vecteezy.com/vector-art/127952-broken-window-in-blue-background" rel="noreferrer">Broken Window In Blue Background</a>
            -
            <a rel="nofollow" href="https://www.vecteezy.com" rel="noreferrer">{{ _('attributions_3') }}: Vecteezy.com</a>
        </li>
        <li>
            <a href="https://www.vecteezy.com/members/seabranddesign" rel="noreferrer">seabranddesign</a>
            -
            <a href="https://www.vecteezy.com/vector-art/154633-smoke-stack-vector-background" rel="noreferrer">Smoke Stack Vector Background</a>
            -
            {{ _('attributions_4') }} <a target="_blank" href="https://www.vecteezy.com" rel="noreferrer">www.vecteezy.com</a>
        </li>
    </ul>
{% endblock %}
