{% extends "base.html" %}
{% block head %}
    <style>
        #content {
            max-width: 33rem;
            text-align: justify;
            margin-left: auto;
            margin-right: auto;

        }
    </style>
{% endblock %}
{% block content %}
    <p>{{ _('privacy_policy') }}</p>
    <h3>{{ _('privacy_personal') }}</h3>
    <p>{{ _('privacy_personal_1') }}</p>
    <h3>{{ _('privacy_non_personal') }}</h3>
    <p>{{ _('privacy_non_personal_1') }}</p>
    <h3>{{ _('privacy_cookies') }}</h3>
    <p>{{ _('privacy_cookies_1') }}</p>
    <h3>{{ _('privacy_use') }}</h3>
    <p>{{ _('privacy_use_1') }}</p>
    <p>{{ _('privacy_use_2') }}</p>
    <p>{{ _('privacy_use_3') }}</p>
    <p>{{ _('privacy_use_4') }}</p>
    <h3>{{ _('privacy_protect') }}</h3>
    <p>{{ _('privacy_protect_1') }}</p>
    <h3>{{ _('privacy_share') }}</h3>
    <p>{{ _('privacy_share_1') }}</p>
    <p>{{ _('privacy_share_2') }}</p>
    <h3>{{ _('privacy_third') }}</h3>
    <p>{{ _('privacy_third_1') }}</p>
    <h3>{{ _('privacy_changes') }}</h3>
    <p>{{ _('privacy_changes_1') }}</p>
    <h3>{{ _('privacy_accept') }}</h3>
    <p>{{ _('privacy_accept_1') }}</p>
    <h3>{{ _('privacy_contact') }}</h3>
    <p>{{ _('privacy_contact_1') }}</p>
    <p>{{ _('privacy_timestamp') }}</p>
{%endblock %}
