{% extends "base.html" %}
{% block head %}
    <style>
        .item {
            margin-top: 2rem;
        }
        .title {
            line-height: 2rem;
            font-size: 2rem;
            text-align: left;
            font-weight: normal;
            margin : 0rem 0rem 0.75rem 0rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="item">
        <div class="title">
            <a href="/projects/awk-it/{{ link_suffix }}">AWK-It</a>
        </div>
        <div class="desc">{{ _('projects_awk-it_desc') }}</div>
    </div>
    <div class="item">
        <div class="title">
            <a href="/projects/oms/{{ link_suffix }}">Outlook Message Summary</a>
        </div>
        <div class="desc">{{ _('projects_oms_desc') }}</div>
    </div>
    <div class="item">
        <div class="title">
            <a href="/projects/envar/{{ link_suffix }}">Envar</a>
        </div>
        <div class="desc">{{ _('projects_envar_desc') }}</div>
    </div>
{% endblock %}
