{% extends "base.html" %}
{% block head %}
    <style>
        #content {
            max-width: 33rem;
            text-align: justify;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <p>{{ _('terms_website') }}</p>
    <p>{{ _('terms_website_1') }}</p>
    <p>{{ _('terms_website_2') }}</p>
    <h3>{{ _('terms_site_info_1') }}</h3>
    <p>{{ _('terms_site_info_2') }}</p>
    <p>{{ _('terms_site_info_3') }}</p>
    <p>{{ _('terms_site_info_4') }}</p>
    <p>{{ _('terms_site_info_5') }}</p>
    <p>{{ _('terms_site_info_6') }}</p>
    <p>{{ _('terms_site_info_7') }}</p>
    <p>{{ _('terms_site_info_8') }}</p>
    <p>{{ _('terms_site_info_9') }}</p>
    <h3>{{ _('terms_rights') }}</h3>
    <p>{{ _('terms_rights_1') }}</p>
    <p>{{ _('terms_rights_2') }}</p>
    <p>{{ _('terms_rights_3') }}</p>
    <h3>{{ _('terms_user') }}</h3>
    <p>{{ _('terms_user_1') }}</p>
    <h3>{{ _('terms_misuse') }}</h3>
    <p>{{ _('terms_misuse_1') }}</p>
    <p>{{ _('terms_misuse_2') }}</p>
    <h3>{{ _('terms_contact') }}</h3>
    <p>{{ _('terms_contact_1') }}</p>
    <p>{{ _('terms_timestamp') }}</p>
{%endblock %}
